<!DOCTYPE html>
<html>
<head>
    <title>Data PreProcessing and Augmentation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Data PreProcessing and Augmentation Application</h1>
        <div class="upload-form">
            <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <div class="file-type-selection">
                    <h3>Select File Type:</h3>
                    <div class="radio-group">
                        <div class="radio-item">
                            <label class="radio-label">
                                <span class="label-text">Text</span>
                                <img src="{{ url_for('static', filename='icons/text.ico') }}" alt="Text">
                                <input type="radio" name="file_type" value="text" required>
                            </label>
                        </div>
                        <div class="radio-item">
                            <label class="radio-label">
                                <span class="label-text">Image</span>
                                <img src="{{ url_for('static', filename='icons/image.ico') }}" alt="Image">
                                <input type="radio" name="file_type" value="image" required>
                            </label>
                        </div>
                        <div class="radio-item">
                            <label class="radio-label">
                                <span class="label-text">Audio</span>
                                <img src="{{ url_for('static', filename='icons/audio.ico') }}" alt="Audio">
                                <input type="radio" name="file_type" value="audio" required>
                            </label>
                        </div>
                        <div class="radio-item">
                            <label class="radio-label">
                                <span class="label-text">3D</span>
                                <img src="{{ url_for('static', filename='icons/3d.ico') }}" alt="3D">
                                <input type="radio" name="file_type" value="3d" required>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="file">Select File:</label>
                    <input type="file" name="file" id="file" required>
                </div>
                
                <div class="form-group">
                    <button type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 